# Disciplina: Teoria de Grafos

- Matriz de adjacências
- Número de vértices n
- Número de arestas e
- Grau de vértices d(G)

### Prof. Marcos W. Rodrigues

In [1]:
import numpy as np
import pandas as pd
import csv

### Matriz de adjacências

In [2]:
#Abre matriz de adjacencia sem rotulos

K5 = pd.read_csv("K5.csv", sep=';', header=None, engine='python')
K5

   0  1  2  3  4
0  0  1  1  1  1
1  1  0  1  1  1
2  1  1  0  1  1
3  1  1  1  0  1
4  1  1  1  1  0

In [3]:
#Abre matriz de adjacencia com rotulos

n3e2 = pd.read_csv("n3e2.csv", sep=';', header=0, engine='python')
n3e2

   A  B  C
0  0  1  1
1  1  0  0
2  1  0  0

In [4]:
#Abre matriz de adjacencia com rotulos

n4e5 = pd.read_csv("n4e5.csv", sep=';', header=0, engine='python')
n4e5

   A  B  C  D
0  0  1  1  0
1  1  0  1  1
2  1  1  0  1
3  0  1  1  0

### Implementacoes basicas

In [5]:
n = len(K5.index)
print("Numero de vertices:", n)

Numero de vertices: 5

In [6]:
e = (K5.sum(axis=0).sum() / 2)
print("Numero de arestas:", e)

Numero de arestas: 10.0

In [7]:
dG = n4e5.sum(axis=0)
print("Graus dos vertices:", np.array(dG))

Graus dos vertices: [2 3 3 2]